# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Logs
*.log

# Datasets
data/
datasets/
*.csv
*.tsv
*.json
*.xlsx
*.parquet
*.zip
*.tar
*.gz

# Model files
*.h5
*.hdf5
*.pkl
*.joblib
*.pt
*.pth

# IDE
.vscode/
.idea/
